body{
    background-color: #189ad3;
    background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
h1{
    color: whitesmoke;
}
p{
    color: whitesmoke;
}